node_modules

/src/generated/prisma
/src/lib/prisma.ts
/dist/generated/prisma
/dist/lib/prisma.ts
.DS_Store
.env
.env.test
.vscode
npm-debug.log
yarn-error.log
.idea
*.log
coverage
*.tsbuildinfo
*.sqlite
*.sqlite3
/prisma/dev.db
/prisma/migrations
/dist/prisma/migrations
/prisma/dev.db-journal
/vercel-build-output
/vercel/.vercel_build_state.json
/vercel/.vercel_build_output_config.json
/vercel/output
/vercel/.vc-config.json
/.vercel
/.vercelignore

